beginner/0_window/Debug
beginner/0_window/Release
beginner/0_window/example-0_window

beginner/1_load_trimesh/Debug
beginner/1_load_trimesh/Release
beginner/1_load_trimesh/example-1_load_trimesh

beginner/2_transformations/Debug
beginner/2_transformations/Release
beginner/2_transformations/example-2_transformations

beginner/3_input/Debug
beginner/3_input/Release
beginner/3_input/example-3_input

beginner/4_lights/Debug
beginner/4_lights/Release
beginner/4_lights/example-4_lights

beginner/5_pipeline/Debug
beginner/5_pipeline/Release
beginner/5_pipeline/example-5_pipeline