beginner/0_window/Debug
beginner/0_window/Release
beginner/0_window/example-0_window

beginner/1_load_trimesh/Debug
beginner/1_load_trimesh/Release
beginner/1_load_trimesh/example-1_load_trimesh

beginner/2_transformations/Debug
beginner/2_transformations/Release
beginner/2_transformations/example-2_transformations

beginner/3_lights/Debug
beginner/3_lights/Release
beginner/3_lights/example-3_lights